
<footer class="full">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="full__content">
                    <h2>About Us</h2>
                    <ul class="full__list">
                        <li class="full__item"><a href="#" class="full__link">Our History</a></li>
                        <li class="full__item"><a href="#" class="full__link">Leadership Team</a></li>
                        <li class="full__item"><a href="#" class="full__link">Values In Action</a></li>
                        <li class="full__item"><a href="#" class="full__link">Investor Relations</a></li>
                        <li class="full__item"><a href="#" class="full__link">News & News & Notifications</a></li>
                        <li class="full__item"><a href="#" class="full__link">Franchise Info</a></li>
                        <li class="full__item"><a href="#" class="full__link">Real Estate</a></li>
                        <li class="full__item"><a href="#" class="full__link">Recalls & Alerts</a></li>
                        <li class="full__item"><a href="#" class="full__link">Digital Accessinility</a></li>
                        <li class="full__item"><a href="#" class="full__link">Our Food, Your Question</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="full__content">
                    <h2>Careers</h2>
                    <ul class="full__list">
                        <li class="full__item"><a href="#" class="full__link">Education Opportunities</a></li>
                        <li class="full__item"><a href="#" class="full__link">Employee Perks</a></li>
                        <li class="full__item"><a href="#" class="full__link">Meet Our People: Staff & Management</a></li>
                        <li class="full__item"><a href="#" class="full__link">Working with Us</a></li>
                        <li class="full__item"><a href="#" class="full__link">Apply Now</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="full__content">
                    <h2>Servies</h2>
                    <ul class="full__list">
                        <li class="full__item"><a href="#" class="full__link">Wi-Fi</a></li>
                        <li class="full__item"><a href="#" class="full__link">Arch Card</a></li>
                        <li class="full__item"><a href="#" class="full__link">PlayPlaces & Parties</a></li>
                        <li class="full__item"><a href="#" class="full__link">McDelivery</a></li>
                        <li class="full__item"><a href="#" class="full__link">Moblie Order & Pay</a></li>
                        <li class="full__item"><a href="#" class="full__link">Download App</a></li>
                        <li class="full__item"><a href="#" class="full__link">McDonald's Merchandise</a></li>
                        <li class="full__item"><a href="#" class="full__link">Family Fun Hub</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="full__content">
                    <h2>Community</h2>
                    <ul class="full__list">
                        <li class="full__item"><a href="#" class="full__link">HACER Scholarships for Hispanic Students</a></li>
                        <li class="full__item"><a href="#" class="full__link">Ronald McDonald House Charities</a></li>
                        <li class="full__item"><a href="#" class="full__link">McDonald's APA</a></li>
                        <li class="full__item"><a href="#" class="full__link">McDonald's International</a></li>
                        <li class="full__item"><a href="#" class="full__link">Black & Positively Golden</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="full__content">
                    <ul class="full__socialList">
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__facebook">
                                <use xlink:href="images/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__twitter">
                                <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__youtube">
                                <use xlink:href="images/symbol-defs.svg#icon-youtube"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__instagram">
                                <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__tumblr">
                                <use xlink:href="images/symbol-defs.svg#icon-tumblr"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__spotify">
                                <use xlink:href="images/symbol-defs.svg#icon-spotify"></use>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="media">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-12 col">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left media__header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            About Us
                            <svg class="media__icon">
                                <use xlink:href="images/symbol-defs7.svg#icon-cheveron-down"></use>
                            </svg>
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="media__list">
                                <li class="media__item"><a href="#" class="media__link">Our History</a></li>
                                <li class="media__item"><a href="#" class="media__link">Leadership Team</a></li>
                                <li class="media__item"><a href="#" class="media__link">Values In Action</a></li>
                                <li class="media__item"><a href="#" class="media__link">Investor Relations</a></li>
                                <li class="media__item"><a href="#" class="media__link">News & News & Notifications</a></li>
                                <li class="media__item"><a href="#" class="media__link">Franchise Info</a></li>
                                <li class="media__item"><a href="#" class="media__link">Real Estate</a></li>
                                <li class="media__item"><a href="#" class="media__link">Recalls & Alerts</a></li>
                                <li class="media__item"><a href="#" class="media__link">Digital Accessinility</a></li>
                                <li class="media__item"><a href="#" class="media__link">Our Food, Your Question</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed media__header" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Careers
                            <svg class="media__icon">
                                <use xlink:href="images/symbol-defs7.svg#icon-cheveron-down"></use>
                            </svg>
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="media__list">
                                <li class="media__item"><a href="#" class="media__link">Education Opportunities</a></li>
                                <li class="media__item"><a href="#" class="media__link">Employee Perks</a></li>
                                <li class="media__item"><a href="#" class="media__link">Meet Our People: Staff & Management</a></li>
                                <li class="media__item"><a href="#" class="media__link">Working with Us</a></li>
                                <li class="media__item"><a href="#" class="media__link">Apply Now</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed media__header" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Services
                            <svg class="media__icon">
                                <use xlink:href="images/symbol-defs7.svg#icon-cheveron-down"></use>
                            </svg>
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                           

                            <ul class="media__list">
                                <li class="media__item"><a href="#" class="media__link">Wi-Fi</a></li>
                                <li class="media__item"><a href="#" class="media__link">Arch Card</a></li>
                                <li class="media__item"><a href="#" class="media__link">PlayPlaces & Parties</a></li>
                                <li class="media__item"><a href="#" class="media__link">McDelivery</a></li>
                                <li class="media__item"><a href="#" class="media__link">Moblie Order & Pay</a></li>
                                <li class="media__item"><a href="#" class="media__link">Download App</a></li>
                                <li class="media__item"><a href="#" class="media__link">McDonald's Merchandise</a></li>
                                <li class="media__item"><a href="#" class="media__link">Family Fun Hub</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfour">
                          <h2 class="mb-0 ">
                            <button class="btn btn-link btn-block text-left collapsed media__header" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                              Community
                              <svg class="media__icon">
                                <use xlink:href="images/symbol-defs7.svg#icon-cheveron-down"></use>
                            </svg>
                            </button>
                          </h2>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                          <div class="card-body">
                            <ul class="media__list">
                                <li class="media__item"><a href="#" class="media__link">HACER Scholarships for Hispanic Students</a></li>
                                <li class="media__item"><a href="#" class="media__link">Ronald McDonald House Charities</a></li>
                                <li class="media__item"><a href="#" class="media__link">McDonald's APA</a></li>
                                <li class="media__item"><a href="#" class="media__link">McDonald's International</a></li>
                                <li class="media__item"><a href="#" class="media__link">Black & Positively Golden</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        

        </div>
    </div>
</footer>

<section class="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="full__content">
                    <ul class="full__socialList">
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__facebook">
                                <use xlink:href="images/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__twitter">
                                <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__youtube">
                                <use xlink:href="images/symbol-defs.svg#icon-youtube"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__instagram">
                                <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__tumblr">
                                <use xlink:href="images/symbol-defs.svg#icon-tumblr"></use>
                            </svg>
                        </a></li>
                        <li class="full__socialItem"><a href="#" class="full__socialLink">
                            <svg class="full__icon full__spotify">
                                <use xlink:href="images/symbol-defs.svg#icon-spotify"></use>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>

<footer class="bottom">
    
    <div class="container">
        <hr class="bottom__line">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="bottom__content">
                  
                    <ul class="bottom__list">
                     <li class="bottom__item"><a href="#" class="bottom__link">Privacy (Updated)</a></li>
                     <li class="bottom__item"><a href="#" class="bottom__link">Terms & Conditions</a></li>
                     <li class="bottom__item"><a href="#" class="bottom__link">Accessibility</a></li>
                     <li class="bottom__item"><a href="#" class="bottom__link">Do Not Sell My Personal Information</a></li>
                     <li class="bottom__item"><a href="#" class="bottom__link">Cookies Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="bottom__content">
                    <p class="copy">
                        <img src="/images/Navbar-logo-and-tab-logo-removebg-preview.png" alt="footer">
                        &COPY; 2017 - 2020 McDonald's. All Rights Reserved 
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/food.js"></script>
</html>