<%- include('partials/aboutHeader') %>
<section class="mccafe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="mccafe__content">
                   <h1 class="text-center">About Our Food</h1>
                   <div class="mccafe__images">
                       <img src="/images/About-Our-food-img.jpg" alt="coffee">
                   </div>
                   <h2>We're Passionate About our Food</h2>
                   <p>
                       From making healthier additions to our Happy Meal, to serving up fresh beef Quarter Pounder bugers that are cooked 
                       when you order, we're always finding ways to show our commitment to our customers and our food.
                    
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/commitment-to-quality.jpg" alt="commitment">
                    </div>
                    <h2>Commitment to Quality</h2>
                    <p>
                        We're dedicated to improving the way we prepare our quality food and the ingredients that go into it
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/our-food-your-questions.jpg" alt="question">
                    </div>
                    <h2>Our Food, Your Questions</h2>
                    <p>
                        We're transparent about our food; so when you ask, we tell
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/What's-in-your-food.jpg" alt="your">
                    </div>
                    <h2>WHat's in Your Food</h2>
                    <p>
                       Find out what makes our ingredients special.
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/our-food-philosophy.jpg" alt="rewards">
                    </div>
                    <h2>Our Food Philosophy</h2>
                    <p>
                        We're passionate about our food. That's why we're committed to always evolving what matters to you 
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/nutrition-calculator.jpg" alt="math">
                    </div>
                    <h2>
                        Nutrition Calculator
                    </h2>
                    <p>
                        Our nutrition calculator has the McDonald's menu nutrition information you're 
                        seeking.Learn more about your favrite meals
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Our-food-Experts.jpg" alt="eperts">
                    </div>
                    <h2>Our Food Experts</h2>
                    <p>
                        From our chefs, to our dieticians and suppliers, McDonald's food experts care deeply about the food eat.
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Fresh-beef.jpg" alt="breef">
                    </div>
                    <h2>Fresh Beef</h2>
                    <p>
                        Our Quarter Pounder patty is made with 100% fresh beef and cooked right when you order. It's hot and 
                        deliciously juicy and full of flavor
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/happy-meal-nutrition.jpg" alt="happy">
                    </div>
                    <h2>Happy Meal Nutrition</h2>
                    <p>
                        When your kids enjoy a meal that's delicious and balanced, you'll enjoy it too.
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/variety-of-choices.jpg" alt="Variety">
                    </div>
                    <h2>Variety of Choices</h2>
                    <p>
                        When it comes to quality options, we're got your covered
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>