<%- include('partials/contactHeader') %>
<section class="contact">
    <div class="container">
        <div class="contact__content text-center">
            <h1>Contact Us:</h1>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 col-12">
              <form method="POST" id="form" class="contact-form" action="">
                  <div class="form-group">
                      <label for="fname">First Name</label>
                      <input  id="fname" class="form-control" type="text" name="fname" required>
                  </div>
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input  id="lname" class="form-control" type="text" name="lname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input  id="email" class="form-control" type="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" class="form-control" required></textarea>
                </div>
                <div class="contact__button text-center">
                    <button type="submit" class="contact__send">Send</button>
                </div>
              </form>
          </div>
        </div>
    </div>
</section>
<section class="items">
    
    <div class="container">
        <h2 class="items__new">Feedback & Inquiry</h2>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/mobile-app-feedback.jpg" alt="mobile-app-feedback">
                    </div>
                    <h2>Mobile App Feedback</h2>
                    <p>
                        Tell us about your experience on the McDonald's App
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">App Feedback</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="images/restaurant-feedback-Complaints.jpg" alt="question">
                    </div>
                    <h2>Restaurant Feedback and Complaints</h2>
                    <p>
                        Tell us what you loved about your last McDonald's visit, or let us know how we can improve
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Tell Us About It</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/general-inquiry.jpg" alt="general-inquiry">
                    </div>
                    <h2>General Inquiry</h2>
                    <p>
                        Can't find the answer to your question? Reach out to our customer support here
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Ask Your Question</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Trademark-Permisson.jpg" alt="Trademark-Permisson">
                    </div>
                    <h2>Trademark Permission</h2>
                    <p>
                        Want to use our logo for a project? Make a trademark request here
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Make a Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Cant-fint-what-youre-looking-for.jpg" alt="Cant-fint-what-youre-looking-for">
                    </div>
                    <h2>Can't find what you're looking for ?</h2>
                    <p>
                        If you can;t find your question, use our contact info to get intouch
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Contact Us here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/McDonald-contact-info-around.jpg" alt="McDonald-contact-info-around">
                    </div>
                    <h2>McDonald's Contactless Info Around the World</h2>
                    <p>
                         If you need to contact a McDonald's in another part of the world, our directory of international McDonald's 
                         pages includes contact information at the bottom of each site
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">find foregin Contact info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>