<%- include('partials/dealsHeader') %>
<section class="exclusive">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="exclusive__content">
                    <h1 class="text-center">Exclusive Deals</h1>
                    <div class="exclusive__images">
                        <img src="/images/exclusive-deal.jpg" alt="exclusive">
                    </div>
                    <h2>Discover delicious McDonald's deals in our App for <a href="#" class="link">ios</a> and <a href="#" class="link">Android</a>.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="foods">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="images/Introducing-the-travis-scott-meal.jpg" alt="travis">
                    </div>
                    <h3>Travis Scott Meal: Available in <br> Restaurants, $6 in the McDonald's App</h3>
                    <p class="main">
                       Get all of Cactus Jack's favorites: Sprite, Medium Fries with BBQ Sauce and a Quarter Pounder with cheese stacked 
                       with all the usual toppings, plus shredded lettuce and crispy bacon. Head to McDonald's to order yours, but get the 
                       $6 offer only on the App!
                    </p>
                    <p class="sub">
                        offer vaild for a limited at participating McD. Valid 1x/day. Check the McD App for details <br>
                        2020 The Coca-Cola Company. "Sprite" is a registered trademark of The Coca-Cola Company 
                        <br>Weight before cooking 4 oz.
                    </p>
                    <div class="foods__button">
                        <a href="#" class="foods__to">Use the App to Order</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="/images/New-Spicy-chickenBG.png" alt="travis">
                    </div>
                    <h3>Free 10 pc. Spicy <br> Chicken McNuggets with $20+ Orders on Uber Eats</h3>
                    <p class="main">
                      Because it's good to try new things, or 10 new spicy things
                    </p>
                    <p class="sub">
                        At participating McDonald's. Expires 9/28/2020.Discount for eligible item price will be applied to order. Discount 
                        does not apply to taxes and fees. Taxes and fees still apply. Order min before taxes and fees. Cannot be combined. 
                        Check the Uber Eats app for availability. Prices may higher than at restaurants
                    </p>
                    <div class="foods__button">
                        <a href="#" class="foods__to">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="/images/free-sandwich-with-app-download.png" alt="travis">
                    </div>
                    <h3>Free Sandwich with App Download</h3>
                    <p class="main">
                       Download and registered for our App and get your choice of Sausage McMuffin with Egg, a McChicken or a Cheeseburger free! 

                    </p>
                    <p class="sub">
                        Vaild 1x thru 12/27/20 for first time App users. McD App download and registration required. may take up to 48 hours to apear 
                        in your deals. Moblie Order & Pay available at participationg McDonald's. No purchase necessary
                    </p>
                    <div class="foods__button">
                        <a href="#" class="foods__to">Download the App</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="foods">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="/images/$1-large-fries.jpg" alt="1-large-fries">
                    </div>
                    <h3>$1 Large Fries</h3>
                    <p class="main">
                       Now there's even more to love about your favorite side. Get large Fries for just $1--only in our App
                    </p>
                    <p class="sub">
                        Offer Valid thru 9/27/20 at participating McDonald's. Valid 1x/Week. Refer to McD App for details. Mobile Order & Pay
                        At Participating McDonald's. McD App Download and registation required. &copy;2020 McDonald's
                    </p>
                    <div class="foods__button">
                        <a href="#" class="foods__to">Use the App to Order</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="/images/$099-any-size-premium-roast-coffee.png" alt="size">
                    </div>
                    <h3>$0.99 Any Size Premium Roast Coffee or Iced Coffee</h3>
                    <p class="main">
                     Available every day, only in our App
                    </p>
                    <p class="sub">
                        Offer Valid thru 9/27/20 at participating McDonald's. Valid 1x/Week. Refer to McD App for details. Mobile Order & Pay
                        At Participating McDonald's. McD App Download and registation required. &copy;2020 McDonald's
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="/images/Buy-5-mcCafe-drink-get-one.jpg" alt="travis">
                    </div>
                    <h3>Buy 5 McCafé Drinks, Get One on Us</h3>
                    <p class="main">
                      Only in our App

                    </p>
                    <p class="sub">
                        Offer Valid thru 9/27/20 at participating McDonald's. Valid 1x/Week. Refer to McD App for details. Mobile Order & Pay
                        At Participating McDonald's. McD App Download and registation required. &copy;2020 McDonald's
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="foods">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="foods__content">
                    <div class="foods__images">
                        <img src="/images/free-medium-Fries-with-a-$1-mimimum.jpg" alt="1-large-fries">
                    </div>
                    <h3>Free Medium Fries with a $Minimum Purchase</h3>
                    <p class="main">
                      Fridays only, with Moblie Order & Pay
                    </p>
                    <p class="sub">
                       Offer vaild 1x use each Friday thru 9/27/20 with minimum purchase of $1 (excluding tax). McD App 
                       download and registration required. Offer only avaiable through Moblie Order & Pay at participating McDonald's. &copy; 
                       2020 McDonald's.
                    </p>
                    <div class="foods__button">
                        <a href="#" class="foods__to">Use the App to Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="box__content text-center">
                        <div class="box__images">
                            <img src="/images/order-mcDelivery-now.jpg" alt="order">
                        </div>
                        <div class="card-body">
                            <div class="box__content">
                                <h2>
                                    Order McDelivery Now
                                </h2>
                                <p class="main">
                                    Get all your McDonald's favorite <br>
                                    delivered right to your doorstep with <br> 
                                    McDivery on Uber Eats or <br> DoorDash
                                </p>
                                <div class="box__button">
                                    <a href="#" class="box__mini">Order Now</a>
                                </div>
                                <p class="sub">
                                    At participating McDonald's. Prices may be higher than at 
                                    restaurants. Delivery/service fees apply
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="box__content text-center">
                        <div class="box__images">
                            <img src="/images/join-our-email-listNew.jpg" alt="newEmail">
                        </div>
                        <div class="card-body">
                            <div class="box__content">
                                <h2>
                                    Join Our Email List
                                </h2>
                                <p class="main">
                                    Get news, romotions and more <br>
                                    delivered right to your inbox
                                </p>
                                <div class="box__button">
                                    <a href="#" class="box__mini">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="box__content text-center">
                        <div class="box__images">
                            <img src="/images/McCafe-Rewards-new.jpg" alt="rewards">
                        </div>
                        <div class="card-body">
                            <div class="box__content">
                                <h2>
                                    McCafé Rewards
                                </h2>
                                <p class="main">
                                    Get a free McCafé drink when you buy 5. <br> Only in our App
                                </p>
                                <div class="box__button">
                                    <a href="#" class="box__mini">Learn More</a>
                                </div>
                                <p class="sub">
                                  Valid thru 9/27.20 at participating McDonald's. McD App <br> download and 
                                  registration required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>