<%- include('partials/homeHeader') %>
<section class="nuggets">
    <div class="contianer">
             
               
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            <div class="nuggets__background">
                                <div class="nuggets__content">
                                    <h2>New Spicy Chicken McNuggets have arrived!</h2>
                                    <p>Trying a spicy twist on your favorite Chicken McNuggets. Order in our App today and get 
                                        'em with Mighty Hot Sauce - if you're feeling brave
                                    </p>
                                    <div class="nuggets__button">
                                        <a href="#" class="nuggets__order" role="button">Order in the App</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/Introducing-the-travis-scott-meal.jpg" alt="travis">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Introducing the Travis Scott Meal</h2>
                    <p class="main">
                        Get all of Cactus Jacks favorite : Sprite, Medium Fries with BBQ and a Quarter Pounder with Cheese 
                        stacked wilth all the usual toppings, plus shredded lettuce and crispy bacon---because that's 
                        how he likes it. They're all yours for just $6. 
                    </p>
                    <p class="sub">
                        Weight before cooking 4 oz <br>
                        For a limited time, prices and participation may vary.
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Order Now</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/order-mcDelivery-now.jpg" alt="order">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Order <br> McDelivery Now</h2>
                    <p class="main">
                         Get all your McDonald's Favorites delivered right to your doorstep with McDelivery on Uber Eats ir DoorDash
                    </p>
                    <p class="sub">
                       At particpating McDonald's Prices may be higher at restaurants Delivery/service fees apply
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Order McDelivery Now</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/creative-enterainment-for-your-family.jpg" alt="creative">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Creative <br> Entertainment for <br> Your Family</h2>
                    <p class="main">
                         Welcome to our new Family Fun Hub! Discover hours of creative activities for your kids and make 
                         lasting memories for their next birthday!
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Explore Family Activities</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fun">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="fun__content">
                    <div class="fun__images">
                        <img src="/images/contactless-moblie-order-&-pay.jpg" alt="contactless">
                    </div>
                    <h2>Contactless Moblie Oder & Pay</h2>
                    <p class="king">
                        Pick up your order.Select Drive Thru pick up and tell us your order code at the speaker.
                    </p>
                    <p class="queen">
                        McD App download and registration required. Moblie Order & Pay available at participating McDonald.
                    </p>
                    <div class="fun__button">
                        <a href="#" class="fun__use" role="button">Use App to Oder</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="fun__content">
                    <div class="fun__images">
                        <img src="/images/mccafe-rewards.jpg" alt="contactless">
                    </div>
                    <h2>McCafé Rewards</h2>
                    <p class="king">
                        Download our App to earn rewards and access deal on McCafé drinks
                    </p>
                    <p class="queen">
                        Valid thru 9/27/20 at participating McDonald's. McD App download and registration requred
                    </p>
                    <div class="fun__button">
                        <a href="#" class="fun__use" role="button"> Earn Rewards</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="fun__content">
                    <div class="fun__images">
                        <img src="/images/join-our-email-list.jpg" alt="contactless">
                    </div>
                    <h2>Join Our Email List</h2>
                    <p class="king">
                       Get news, promotions and more delivered right to your inbox
                    </p>
                    <div class="fun__button">
                        <a href="#" class="fun__use" role="button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>