<%- include('partials/McCafeHeader') %>
<section class="mccafe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="mccafe__content">
                   <h1 class="text-center">McCafé Coffee, Espresso Drinks & <br> More</h1>
                   <div class="mccafe__images">
                       <img src="/images/McCafe-coffee-espressoo-drink-img.jpg" alt="coffee">
                   </div>
                   <p>Goods is brewing our delicious McCafé drinks and baked goods. Browse the categories below for more information 
                    on topics such as our tasty coffee and espresso drinks, McCafe K-Cup pods  and coffee grounds or our McCafé Rewards 
                    program.
                    
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/McCafe-Rewards-new.jpg" alt="rewards">
                    </div>
                    <h2>McCafe Rewards</h2>
                    <p>
                        Get a free McCafé drink when you buy 5. Only in our App
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Coffee-Delivery.jpg" alt="rewards">
                    </div>
                    <h2>Coffee Coffee-Delivery</h2>
                    <p>
                        Get the great taste of McCafé coffee and erpress drinks, as well as McCafé Bakery treats, delivery 
                        right to your doorstep
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Hot-coffee-Drinks.jpg" alt="hot">
                    </div>
                    <h2>Hot Coffee Drinks</h2>
                    <p>
                        Warm up with a hot coffee or epresso drink from the McCafé menu.
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Lattes.jpg" alt="rewards">
                    </div>
                    <h2>Lattes</h2>
                    <p>
                        Learning about our delicious lattes made from sustainably sourced espresso beans
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Iced-Coffee-Drink.jpg" alt="hot">
                    </div>
                    <h2>McCafé Iced Coffee and Espresso Drinks</h2>
                    <p>
                        Cool off with our tasty McCafé Iced Coffee and iced espresso drinks, available in a variety of delicious 
                        flavors, including French Vanilla, Caramel and Mocha.
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Frappes.jpg" alt="Frappés">
                    </div>
                    <h2>Frappés</h2>
                    <p>
                        Try our rich, creamy Caramel or Mocha McCafé Frappés, blended with ice and covered in whipped topping
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/McCafe-Bakery.jpg" alt="Bakery">
                    </div>
                    <h2>McCafé Bakery</h2>
                    <p>
                        Indulge in a sweet treat from our McCafé Bakery
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="images/full-McCafe-Menu.jpg" alt="full">
                    </div>
                    <h2>Full McCafé Menu</h2>
                    <p>
                        Browse our full menu of delicious McCafé coffee and espresso drinks
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/Mccafe-on-the-go.jpg" alt="Go">
                    </div>
                    <h2>McCafé on the Go</h2>
                    <p>
                        Enjoy our ready-to-drink McCafé Frappés whenever and wherever the day takes you
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="items__content">
                    <div class="items__images">
                        <img src="/images/McCafe-at-Home.jpg" alt="home">
                    </div>
                    <h2>McCafé at Home</h2>
                    <p>
                        Savor the aroma and taste of our 100% Arabica coffee, available in K-cup pods, bags and cans in a variety of blends
                    </p>
                    <div class="items__button">
                        <a href="#" class="items__learn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>