<%- include('partials/successHeader') %>
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="success__content">
                    <h1 class="text-center">Congratlution Your message has been received. Your Feedback is the most important to us.. we will do our best to meet your 
                        suggestions.
                    </h1>
                    <div class="success__images">
                        <img src="/images/successBG copy.jpg" alt="success">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>