<%- include('partials/trendingHeader') %>
<section class="trending">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="trending__content">
                    <h1 class="text-center">Trending Now</h1>
                    <div class="trending__images">
                        <img src="/images/trending-nowBG.jpg" alt="trending">
                    </div>
                      <p>Stay up date the latest on Promotion, events, new products and more</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/Introducing-the-travis-scott-meal.jpg" alt="travis">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Travis Scott Meal: Available in Restaurants, $6 in the McDonald's App</h2>
                    <p class="main">
                        Get all of Cactus Jacks favorite : Sprite, Medium Fries with BBQ and a Quarter Pounder with Cheese 
                        stacked wilth all the usual toppings, plus shredded lettuce and crispy bacon---because that's 
                        how he likes it. They're all yours for just $6. 
                    </p>
                    <p class="sub">
                        Offer vaild for a limited time at participating McD. Vaild 1x/day.Check the McD App for details. <br> 
                        &COPY; 2020 The Coca-Cola Comapny. "Sprite" is a registered trademark of The Coca-Cola Company <br>
                        Weight before cooking 4oz
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">App to Order</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/New-Spicy-chickenBG.png" alt="spicy">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Free 10 pc. Spicy Chicken McNuggets with $20+ Orders on Uber Eats</h2>
                    <p class="main">
                        Because it's good to try new things, or 10 new spicy things
                    </p>
                    <p class="sub">
                       At participating McDonald's. Expires 9/28/2020. Discount for eligble item price will be applied to order. Discount does 
                       not apply to taxes and fees. Taxes and fees still apply. Order min before taxes and feed. Cannot be combined. Check the Uber 
                       Ets app for availability. Prices may be higher than at restaurants
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Order Now</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/chill-ahoy-New.jpg" alt="chill">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Chill with the New Chips Ahoy McFlurry</h2>
                    <p class="main">
                        Looking to cool down after your Spicy Chicken McNuggets and Mighty Hot Sauce? Reach for a delicious blend of cold,
                        creamy soft serve blended with your favorite Chips Ahoy! Cookies Guaranteed to beat the heat.
                    </p>
                    <p class="sub">
                       Chips Ahoy! is a trademark of mondeléz International group, used under license
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Order Now</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/$1-an- size-soft-drink.jpg" alt="smal">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>$1 Any Size Soft Drink & $2 $3 Small McCafé</h2>
                    <p class="main">
                      Get a small specialty McCafé drink for jsut $2, or any size soft drink for just $1, only on the $1 $2 $3 
                      Dollar Menu. Joy Included
                    </p>
                    <p class="sub">
                       Prices and participating may vary. Cannot be combined with any other offer or combo meal. Excludes hot and iced coffee.
                       Tax Extra &COPY; 2020 The Coca-Cola Company. "Coca-Cola", "Sprite", and "Fanta" are trademarks of The Coca-Cola Company 
                        & &COPY; Dr Prepper/Seven Up, Inc
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Order Now</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/contactless-mobile-order-&-pay.jpg" alt="contactless-mobile-order-">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Contactless Mobile Order & Pay</h2>
                    <p class="main">
                      Moblie Order & Pay is a great call, with exclusive deals on all your favorites, plus Drive Thru and Curside pickup
                    </p>
                    <p class="sub">
                       McDonald's App download and registration required. Moblie Order & Pay available 
                       at participating McDonald's
                    </p>
                     <div class="frees__button">
                        <a href="#" class="frees__money">Order Now</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="frees__content">
                    <div class="frees__images">
                        <img src="/images/creative-enterainment-for-your-family.jpg" alt="contactless-mobile-order-">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="frees__content">
                    <h2>Creative Entertainment for Your Family</h2>
                    <p class="main">
                      Welcome to our new Family Fun Hub! Discover hours of creative activites for your kids and make lasting memories for 
                      their next birthday
                    </p>
                   
                     <div class="frees__button">
                        <a href="#" class="frees__money">Explore Family Time</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>