* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 75em) {
    body {
      font-size: 56.25%; } }
  @media (max-width: 50em) {
    body {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    body {
      font-size: 50%; } }
  @media (max-width: 61.875em) {
    body {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    body {
      font-size: 75%; } }

::selection {
  background-color: #3498db;
  color: #fff; }

.nuggets__button {
  margin-top: 1.4rem; }

.nuggets__order {
  font-size: .9rem;
  color: #292929;
  background-color: #ffbc0d;
  padding: 1rem 1.2rem;
  border-radius: .3rem; }
  .nuggets__order:hover {
    color: #292929;
    text-decoration: none; }

.nav__button {
  margin: 1rem 0; }

.nav__now {
  font-size: 1rem;
  color: #000;
  background-color: #ffbc0d;
  padding: .8rem 1.4rem;
  border: 0.1rem solid #ffbc0d;
  border-radius: .3rem; }
  .nav__now:hover {
    color: #000;
    text-decoration: none; }

.frees__button {
  margin: 2rem 0; }

.frees__money {
  font-size: 1.1rem;
  color: #000;
  padding: .9rem 2.5rem;
  border-radius: .3rem;
  background-color: #ffbc0d;
  letter-spacing: .1px; }
  .frees__money:hover {
    color: #000;
    text-decoration: none; }

.nuggets {
  background-image: url(/images/New-Spicy-chickenBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 9rem 8rem 3rem;
  border-radius: .3rem;
  height: 35rem;
  -webkit-box-shadow: 1px 6px 16px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 16px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 6px 16px -11px rgba(0, 0, 0, 0.75);
  position: relative; }
  @media (max-width: 75em) {
    .nuggets {
      margin: 8rem 1rem 2rem; } }
  .nuggets__background {
    background-color: #fff;
    width: 27rem;
    height: 19rem;
    margin-left: 3rem;
    border-radius: .3rem;
    padding: 1rem;
    -webkit-box-shadow: 1px 6px 21px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 6px 21px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 6px 21px -11px rgba(0, 0, 0, 0.75); }
    @media (max-width: 37.5em) {
      .nuggets__background {
        width: 17rem; } }
  .nuggets__content h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #000; }
    @media (max-width: 37.5em) {
      .nuggets__content h2 {
        font-size: 1.5rem; } }
  .nuggets__content p {
    font-size: .9rem;
    color: #292929;
    line-height: 1.5; }

.nuggets .col-lg-5 {
  position: absolute;
  top: 14rem; }

.nuggets .row {
  margin-left: .3rem !important; }

.frees {
  padding: 3rem 0 1rem; }
  .frees__images img {
    width: 100%;
    height: 20rem; }
  .frees__content h2 {
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    letter-spacing: .1px; }
  .frees__content p.main {
    font-size: 1rem;
    padding-top: .5rem;
    color: #000; }
  .frees__content p.sub {
    font-size: .6rem;
    color: #000; }

.frees .col-lg-8 {
  margin-bottom: 1rem; }

.fun {
  padding: 3rem 0 2rem; }
  .fun__images {
    margin-bottom: 1rem; }
  .fun__images img {
    width: 100%;
    height: 15rem; }
  .fun__content h2 {
    font-size: 2rem;
    color: #000;
    font-weight: bold; }
  .fun__content p.king {
    font-size: 1rem;
    color: #000; }
  .fun__content p.queen {
    font-size: .6rem;
    color: #000; }
  .fun__button {
    margin-top: 2rem; }
  .fun__use {
    font-size: 1.1rem;
    color: #000;
    padding: .9rem 2.5rem;
    border-radius: .3rem;
    background-color: #ffbc0d;
    letter-spacing: .1px; }
    .fun__use:hover {
      color: #000;
      text-decoration: none; }

.fun .col-lg-4 {
  margin-bottom: 2rem; }

.mccafe {
  padding: 9rem 0 3rem; }
  .mccafe__content h1 {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    padding-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .mccafe__content h1 {
        font-size: 2rem; } }
  .mccafe__images {
    padding-bottom: 6rem; }
  .mccafe__images img {
    width: 100%;
    height: 30rem; }
    @media (max-width: 37.5em) {
      .mccafe__images img {
        height: 20rem; } }
  .mccafe__content h2 {
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    padding-bottom: .7rem; }
  .mccafe__content p {
    font-size: 1rem;
    color: #000; }

.items {
  padding: 3rem 0 3rem; }
  .items__images {
    padding-bottom: 1rem; }
  .items__images img {
    width: 100%;
    height: 20rem; }
  .items__content h2 {
    font-size: 2rem;
    color: #000;
    font-weight: bold; }
  .items__content p {
    font-size: .9rem;
    color: #000; }
  .items__button {
    margin-top: 2rem; }
  .items__learn {
    font-size: 1.1rem;
    color: #000;
    padding: .9rem 2.5rem;
    border-radius: .3rem;
    background-color: #ffbc0d;
    letter-spacing: .1px; }
    .items__learn:hover {
      color: #000;
      text-decoration: none; }
  .items__new {
    font-size: 2rem;
    color: #000;
    font-weight: bold; }

.items .col-lg-6 {
  margin-bottom: 2rem; }

.exclusive {
  padding: 9rem 0 3rem; }
  .exclusive__content h1 {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    padding-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .exclusive__content h1 {
        font-size: 2rem; } }
  .exclusive__images {
    padding-bottom: 6rem; }
  .exclusive__images img {
    width: 100%;
    height: 30rem; }
    @media (max-width: 37.5em) {
      .exclusive__images img {
        height: 20rem; } }
  .exclusive__content h2 {
    font-size: 2.1rem;
    color: #000;
    font-weight: bold;
    margin-left: 1rem; }
    @media (max-width: 56.25em) {
      .exclusive__content h2 {
        margin-left: .1rem; } }
  .exclusive__content h2 a.link {
    color: #006bae;
    border-bottom: .2rem solid #006bae; }
    .exclusive__content h2 a.link:hover {
      color: #006bae;
      text-decoration: none; }

.foods {
  padding: 3rem 0 2rem; }
  .foods__images {
    padding-bottom: 2.5rem; }
  .foods__images img {
    width: 100%;
    height: 14rem; }
  .foods__content h3 {
    font-size: 1.9rem;
    color: #000;
    padding-bottom: .5rem; }
  .foods__content p.main {
    font-size: .9rem;
    color: #000; }
  .foods__content p.sub {
    font-size: .6rem;
    color: #000; }
  .foods__button {
    margin-top: 2rem; }
  .foods__to {
    font-size: 1.1rem;
    color: #000;
    padding: .9rem 2.5rem;
    border-radius: .3rem;
    background-color: #ffbc0d;
    letter-spacing: .1px; }
    .foods__to:hover {
      color: #000;
      text-decoration: none; }

.foods .col-lg-4 {
  margin-bottom: 2rem; }

.box {
  padding: 2rem 0 2rem; }
  .box__images img {
    width: 100%;
    height: 8rem; }
  .box__content h2 {
    font-size: 1.6rem;
    color: #000;
    font-weight: bold; }
  .box__content p.main {
    font-size: 1rem;
    color: #000; }
  .box__button {
    margin: 2rem 0; }
  .box__mini {
    font-size: 1.1rem;
    color: #000;
    padding: .9rem 2.5rem;
    border-radius: .3rem;
    background-color: #ffbc0d;
    letter-spacing: .1px; }
    .box__mini:hover {
      color: #000;
      text-decoration: none; }
  .box__content p.sub {
    font-size: .6rem;
    color: #000; }

.box .col-lg-4 {
  margin-bottom: 2rem; }

.box .card {
  border-radius: .3rem;
  height: 30rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75); }

.trending {
  padding: 9rem 0 3rem; }
  .trending__content h1 {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    padding-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .trending__content h1 {
        font-size: 2rem; } }
  .trending__images {
    padding-bottom: 6rem; }
  .trending__images img {
    width: 100%;
    height: 30rem; }
    @media (max-width: 37.5em) {
      .trending__images img {
        height: 20rem; } }
  .trending__content p {
    font-size: 1.2rem;
    color: #000;
    margin-left: 6rem; }
    @media (max-width: 56.25em) {
      .trending__content p {
        margin-left: .1rem; } }

.success {
  padding: 9rem 0 3rem; }
  .success__content h1 {
    font-size: 3rem;
    color: #000;
    padding-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .success__content h1 {
        font-size: 2rem; } }
  .success__images img {
    width: 100%;
    height: 40rem; }

.contact {
  padding: 9rem 0 3rem; }
  .contact__content h1 {
    font-size: 3rem;
    color: #000;
    padding-bottom: 2rem; }
  .contact__send {
    border: 0.1rem solid #ffbc0d;
    font-size: 1.1rem;
    color: #000;
    padding: .9rem 2.5rem;
    border-radius: .3rem;
    background-color: #ffbc0d;
    letter-spacing: .1px; }
    .contact__send:hover {
      color: #000;
      text-decoration: none; }

.contact .contact-form .form-group label {
  font-size: 1rem;
  color: #000;
  font-weight: bold; }

.contact .contact-form .form-group textarea {
  height: 8rem; }

.contact .contact-form .form-group input[type="text"] {
  outline: 0;
  box-shadow: none !important;
  border: 0.2rem solid #ffbc0d; }

.contact .contact-form .form-group input[type="email"] {
  outline: 0;
  box-shadow: none !important;
  border: 0.2rem solid #ffbc0d; }

.contact .contact-form .form-group textarea {
  outline: 0;
  box-shadow: none !important;
  border: 0.2rem solid #ffbc0d; }

.full {
  position: relative;
  display: block;
  padding: 3rem 0 2rem; }
  @media (max-width: 61.875em) {
    .full {
      display: none; } }
  .full__content h2 {
    font-size: 1.3rem;
    color: #000;
    padding-bottom: .5rem; }
  .full__list {
    list-style: none; }
  .full__item:not(:last-child) {
    margin-bottom: .3rem; }
  .full__link {
    font-size: 1rem;
    color: #000; }
    .full__link:hover {
      color: #000;
      text-decoration: none; }
  .full__socialList {
    list-style: none; }
  .full__icon {
    width: 2.7rem;
    height: 2.7rem;
    border: .1rem solid lightgray;
    padding: .7rem;
    border-radius: 5rem; }
  .full__facebook:hover {
    fill: #fff;
    background-color: #4267B2;
    border: .1rem solid #4267B2; }
  .full__twitter:hover {
    fill: #fff;
    background-color: #1da1f2;
    border: .1rem solid #1da1f2; }
  .full__youtube:hover {
    fill: #fff;
    background-color: #FF0000;
    border: .1rem solid #FF0000; }
  .full__instagram:hover {
    fill: #fff;
    background-color: #e1306c;
    border: .1rem solid  #e1306c; }
  .full__tumblr:hover {
    fill: #fff;
    background-color: #34526f;
    border: .1rem solid #34526f; }
  .full__spotify:hover {
    fill: #fff;
    background-color: #1DB954;
    border: .1rem solid #1DB954; }
  .full__socialItem {
    display: inline-block;
    padding: .5rem 0; }
  .full__socialItem:not(:last-child) {
    margin-right: 1.4rem; }
  .full__button {
    margin-left: 12rem; }
  .full__apple {
    margin-right: 1.5rem; }
    @media (max-width: 75em) {
      .full__apple {
        margin-right: 1rem; } }
  .full__content img {
    width: 10rem;
    height: 3.3rem; }

.full .col-lg-6 {
  margin-top: 1.3rem; }

.media {
  position: relative;
  display: none; }
  @media (max-width: 61.875em) {
    .media {
      display: block; } }
  .media__header {
    font-size: 1.1rem;
    color: #000; }
    .media__header:hover {
      color: #000;
      text-decoration: none; }
  .media__list {
    list-style: none; }
  .media__item:not(:last-child) {
    margin-bottom: .3rem; }
  .media__link {
    font-size: 1rem;
    color: #000; }
    .media__link:hover {
      color: #000;
      text-decoration: none; }
  .media__icon {
    width: 2rem;
    height: 2rem;
    fill: #000;
    float: right; }

.media .accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
  background-color: #fff; }

.media .card {
  border: none !important; }

.media .card-header {
  border: none !important; }

.bottom {
  position: relative; }
  .bottom__line {
    background-color: lightgrey; }
  .bottom__content {
    padding-top: 1.4rem; }
  .bottom__list {
    list-style: none; }
  .bottom__item {
    display: inline-block; }
  .bottom__item:not(:last-child) {
    margin-right: .7rem; }
  .bottom__link {
    font-size: 1rem;
    color: #000; }
    .bottom__link:hover {
      color: #000;
      text-decoration: none; }
  .bottom__content p.copy img {
    width: 2rem;
    height: 1.2rem; }
  .bottom__content p.copy {
    font-size: .8rem;
    color: #000; }

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px -11px rgba(0, 0, 0, 0.75); }
  .navbar-brand img {
    width: 6rem; }

.nav-link {
  color: #000 !important;
  font-size: 1.1rem; }

.navbar-toggler {
  border: none !important; }

.toggler-btn {
  border: 2px solid #000;
  padding: 5px;
  transition: all 2s ease; }

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #000;
  transition: all 0.5s ease; }

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px); }
